apiVersion: batch/v1
kind: CronJob
metadata:
  name: wikipedia-cron
  namespace: project
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: wikipedia-cron
              image: gcr.io/dwk-gke-484423/todo-server:latest
              imagePullPolicy: Always
              command:
                - bun
                - run
                - src/cron.ts
              env:
                - name: TODO_SERVICE_URL
                  value: "http://todo-server-svc.project.svc.cluster.local:2345"
                - name: BASE_PATH
                  value: "/project"
          restartPolicy: OnFailure
