apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: project-pv
provisioner: pd.csi.storage.gke.io
parameters:
  type: pd-balanced
reclaimPolicy: Delete
allowVolumeExpansion: true
volumeBindingMode: WaitForFirstConsumer
