apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: project-prod

resources:
- namespace.yaml
- ../../base
- backup.yaml
- backendconfig.yaml

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: todo-server-dep
- path: service-patch.yaml
  target:
    kind: Service
    name: todo-server-svc

namePrefix: prod-

replicas:
- count: 1
  name: todo-server-dep

images:
- name: PROJECT/IMAGE
  newName: typescriptlover/the_project
  newTag: v1.0.7
